// rougify style github
.highlight table td { padding: 5px; }
.highlight table pre { margin: 0; }
.highlight, .highlight .w { color: #24292f; background-color: #f6f8fa; }
.highlight .k, .highlight .kd, .highlight .kn, .highlight .kp,
.highlight .kr, .highlight .kt, .highlight .kv { color: #cf222e; }
.highlight .na { color: #116329; }
.highlight .nb { color: #953800; }
.highlight .nc { color: #953800; }
.highlight .no { color: #953800; }
.highlight .nn { color: #953800; }
.highlight .sr, .highlight .ni, .highlight .si { color: #116329; }
.highlight .nf, .highlight .fm { color: #8250df; }
.highlight .nd { color: #8250df; }
.highlight .nv, .highlight .vc, .highlight .vg,
.highlight .vi, .highlight .vm { color: #953800; }
.highlight .s, .highlight .sa, .highlight .sc, .highlight .dl,
.highlight .sd, .highlight .s2, .highlight .se, .highlight .sh,
.highlight .sx, .highlight .s1, .highlight .ss { color: #0a3069; }
.highlight .m, .highlight .mb, .highlight .mf, .highlight .mh,
.highlight .mi, .highlight .il, .highlight .mo, .highlight .mx { color: #0550ae; }
.highlight .gi { color: #116329; background-color: #dafbe1; }
.highlight .gd { color: #82071e; background-color: #ffebe9; }
.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm,
.highlight .cp, .highlight .cpf, .highlight .c1,
.highlight .cs { color: #6e7781; }
.highlight .o, .highlight .ow { color: #0550ae; }
.highlight .err { color: #f6f8fa; background-color: #82071e; }
.highlight .ge { font-style: italic; }
.highlight .gs { font-weight: bold; }
